OPENAI_API_KEY=<YOUR API KEY>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGSMITH_API_KEY="<YOUR API KEY>"
LANGSMITH_PROJECT="<YOUR LANGSMITH PROJECT NAME>"
CAMUNDA_REST_URL=http://localhost:8080/engine-rest
